<h1><%= @patron.name() %></h1>

<h3>Select all books this patron checked out:</h3>

<% if @books.any?() %>
  <form action="/patrons/<%= @patron.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @books.each() do |book| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="book_ids[]" value="<%= book.id() %>"><%= book.title() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add books</button>
  </form>
<% end %>

<% if @patron.books().any?() %>

  <h3>Here are all the book this patron has checked out:</h3>

  <ul>
    <% @patron.books().each() do |book| %>
      <li><%= book.title() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no books yet! <a class ="green" href="/books">Add books here</a></p>
<% end %>


<a class ="green" href="/">Return to Main Page</a>
